bin/
.gradle
build
/nbproject/private/
*~
.DS_Store
/dist/
.settings
*.class
*.sw?
lib/.tmp/
lib/cachedir
doc/
*.db
# idea related stuff
.idea/workspace.xml
.idea/misc.xml
.idea/uiDesigner.xml
.gitm*
.pydevproject
